*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    font-style: roboto ;
}


.container{
    background: #1F2937;
    /* color: white; */
    height: 430px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2, p {
    padding-bottom: 8px;
}

.navbar h1{
    font-size: 24px;
    color: #f9faf8;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

.right ul{
    list-style: none;
    display: flex;
    gap: 20px;
    /* align-items: center; */
}

.right ul li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

img{
    height: 210px;
    width: 427px;
}

.align  {
    display: flex;
justify-content: space-around;
align-items: center;
margin-top: 81px;}


.navbar2 {
    width: 400px;
    margin-left: 150px;
}


.navbar2 button {
    background: #3882F6;
    padding: 10px 35px;
    border-radius: 8px;
    color: #E5E7EB;
    font-size: 20px;
    margin-top: 7px;
}

.container2 h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 40px;
}


.items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;

}

.items img {
    width: 250px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    padding: 10px;
}

.items p {
    width: 250px;
    font-size: 27px;
    color: #1f2937;
    padding: 2px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    padding-right: 230px;
}

.container3 {
    background: #e5e7eb;
}

.container3 .italic {
    color: #1f2937;
    font-size: 36px;
    width: 744px;
}

.bold {
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    margin-left: auto;
    margin-right: 730px;
    font-size: 22px;
}

.container4 {
    background: #f9faf8;
    margin: 0 200px 0px 200px;
}

.signup {
    background: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 350px;
    height: 200px;
    border-radius: 15px;

}

.big {
    color: #e5e7eb;
    font-size: 35px;
    font-weight: bold;
}

.small {
    color: #e5e7eb;
    font-size: 20px;
}

.buttonss button{
    padding: 10px 30px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    font-weight: bold;
}

footer {
    background: #1F2937;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
